{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
<div class="text-center">
{% if is_user %}
<button> <a href='/posts/news/create'> Создать новость</a> </button>
{% endif %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if posts%}
       <table>
           <tr>
               <td>Название</td>
               <td>Текст</td>
               <td>Время публикации</td>

           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.text|truncatechars:15 }}</td>
               <td>{{ post.time_creation }}</td>
               <td><button> <a href='/posts/news/{{post.id}}'> Читать</a> </button><td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</div>
{% endblock content %}