{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}
{% block content %}
<div class="text-center">
   <h1>Все объявления</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
    </div>
   {% if posts%}
           {% for post in posts %}
<div class="dashed1"></div>
            <div class="row1">
                <div class="body1">
                    <a href='/posts/{{post.id}}' class="no-decoration">
                        <div class="title1"><h5>{{ post.title }}</h5></div>
                    <div class="text1">{{ post.text|truncatechars:550 }}</div>
                     <div class="cat1">категория: {{ post.category.category }}</div>
                <div class="dat1">дата создания: {{ post.time_creation }}</div>
               {% if post.photo%}
                        <div class="picture-box">
                   <img class="" width="240" height="144" src="{{post.photo.url}}">
               {% endif %}
                    </div>
                    </a>
            </div>
                </div>
           {% endfor %}
   {% else %}
       <h2>Объявлений нет!</h2>
   {% endif %}
<div class="text-center mt-5">
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</div>
{% endblock content %}